/* _class-name = universial class mainly use in js for consitent element grab */
.page {
    background: url('https://i.postimg.cc/xCh0tK2j/image.png');
    animation:  backgroundMove 25s infinite linear;
    background-size: 200% auto;
    background-position-y: center;
    position: relative;
}

@keyframes backgroundMove {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 200%;
    }
}
@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
        background-color: rgb(0, 84, 209 , 1);
    border-radius: 2dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.form__form-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 1dvh;
display: flex;
flex-direction: column;
align-items: center;

}

.form-content__heading {
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
color: rgb(43, 43, 43);
}
.form-content__heading h1 {
    
}
.form-content__heading h2 {
    color: rgb(43, 43, 43 , 0.9) !important;
}
.form-content__input-box {
 position: relative;
  display: flex;
  
  
}
.form-content__input-box input {
    border-bottom: solid rgb(43, 43, 43);
    background-color: white;
    transition: background 31622400s linear;
    color: rgb(43, 43, 43);
}
.form-content__input-box main {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(43, 43, 43);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: rgb(43, 43, 43);
  cursor: pointer;
}

.input-box__error {
    position: absolute;
    bottom: 0;
    left: 0;
width: 100%;
display: flex;
align-items: center;
color: red;
transform: scale(1);
}
.input-box__error h1 {
    position: relative;
    border-radius: 1dvh;
    display: flex;
    align-items: center;
    
}
.input-box__error i {
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
    
}
.input-box__error span {
    position: relative;
}
.input-box__details {
    position: absolute;
    bottom: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-direction: row-reverse;
}
.input-box__details section {
    display: flex;
    align-items: center;
    color: red;
    
    
}
.input-box__details section h1 {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    
}
.input-box__details aside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}
.input-box__details aside a {
    color: rgb(42, 97, 160);
    
}
.input-box__details aside a:hover {
    color: rgb(25, 43, 63);
    text-decoration: underline;
}
.input-box__details section i {
    
}
._error-container-none {
transform: scale(0);
opacity: 0;
}
._error-container-active {
transform: scale(1);
opacity: 1;
animation: horizontal-shaking 200ms 3;
}
.input-box__error h1 span {
    height: 100%;
    overflow-y: scroll;
    line-height: 0.9;
}
.form-content__login-btn {
    background-color: rgb(6, 81, 167);
    border-radius: 1dvh;
    width: 50%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    transition: border-radius 200ms , background 200ms;
}

.login-btn__login-content {
    background-color: rgb(0, 71, 151);
    border-radius: 1dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 200ms , transform 200ms , border-radius 200ms;
    
}
.form-content__login-btn:hover {
background-color: rgb(0, 71, 151);
    border-radius: 2dvh;
    transform: scale(0.960);
}
.form-content__login-btn:active {
background-color: rgb(3, 40, 83);
    border-radius: 2dvh;
    transform: scale(0.930);
}
.form-content__login-btn:active .login-btn__login-content{

    border-radius: 2dvh !important;
}
.form-content__login-btn:hover .login-btn__login-content {
    
    border-radius: 2dvh;
}
.login-content__login-button {
    height: 100%;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.login-content__login-button span {
    position: relative;
}
.form-content__login-providers {
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.form-content__login-providers button {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 1dvh;
    justify-content: center;
    border: 0.1dvh solid rgb(117, 117, 117);
    
    cursor: pointer;
    transition: transform 200ms;
}
.form-content__login-providers button h1 {
    margin-left: 1ch !important;
}
.form-content__google {
    color: rgb(124, 124, 124);
}
.form-content__facebook{
    background-color: #0866ff !important;
    color: white;
}
.form-content__login-providers button:hover {
    filter: brightness(120%);
    transform: translateY(-3%) scale(1.020);
}
.form-content__login-providers button:active {
    transform: scale(0.950);
    filter: brightness(90%);
}
.form-content__no-account {
    
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content__no-account a {
    color: rgb(77, 77, 77);
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-content__no-account a span {
    color: rgb(0, 71, 151);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-content__login-btn--normal .login-content__login-loader {
display: none;
}
._login-btn-loader {
    display: none;
}
._login-btn-loading ._login-btn-loader {
    display: flex;
}
._login-btn-normal ._login-btn-loader {
    display: none;
}
._login-btn-loading ._login-btn-loading-btn {
display: none;
}
._login-btn-normal ._login-btn-loading-btn {
display: flex;
}
._login-btn-loading:hover {
    border-radius: 1dvh !important;
}
.login-content__login-loader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1dvh;
}
._login-btn-normal {
    
}
/* phone styles */
.phone-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    background-color: #0054d1;
    border-radius: 2dvh;
    align-items: center;
}
.phone-form-logo {
    
    filter: brightness(0) invert(1);
}
.phone-form-content {
    background-color: white;
    border-radius: 2dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone-form-content-heading {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phone-form-content__input-box {
    
    
}
.phone-form-content__input-box main {
    
    display: flex;
    flex-direction: column;
}
.phone-form-content__input-box main aside {
    position: relative;
    display: flex;
    align-items: center;
}
.phone-form-content__input-box main aside a {
    position: absolute;
    right: 0;
    color: #0043a7;
}
.phone-form-content__input-box main input {
    border: none;
    border-style: solid;
    border-color: rgb(110, 110, 110);
    border-top: 0;
    border-left: 0;
    border-right: 0;
border-width: 2px;
}
.phone-form-content__input-box main input::placeholder {
    opacity: 0.2;
}
.phone-form-content__input-box main aside span {
background-color: rgb(53, 53, 53); 
 color: white;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.phone-form-content__input-box main aside h1 {
    margin-left: 1ch !important;
    color: rgb(53, 53, 53);
}
.phone-form-content__input-box h6 {
     color: rgb(228, 0, 0);
    display: flex;
    align-items: center;
}
.phone-form-content__input-box h6 span {
    max-height: 90%;
    max-width: 100%;
    overflow-y: scroll;
    
}
.phone-login-btn {
    border: none;
    outline: none;
    background-color: #0043a7;
    color: white;
    border-radius: 1dvh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms , background 200ms;
}
.phone-login-btn-text {
    background-color: rgb(16, 91, 190 , 0);
    border-radius: 1dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms , background 200ms;
}
.phone-login-btn:active .phone-login-btn-text {
    background-color: rgb(16, 91, 190 , 1);
    
}
.phone-login-btn:active {
    transform: scale(0.930);
    background-color: #2e60aa;
}
.phone-form ._login-btn-normal .phone-login-btn-text {
    display: flex;
}
.phone-form ._login-btn-normal .phone-login-btn-loader {
    display: none;
}
.phone-form ._login-btn-loading .phone-login-btn-text {
    display: none;
}
.phone-form ._login-btn-loading .phone-login-btn-loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1dvh;
}
.phone-login-btn-loader img {
    position: absolute;
    
}
.phone-login-providers {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phone-login-providers button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1dvh;
}
.phone-login-providers button h1 {
    margin-left: 1ch !important;
    color: rgb(44, 44, 44);
}

.phone-signup {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.phone-signup a {
color: rgb(43, 43, 43);
}
.phone-signup a span {
    color: rgb(0, 71, 151);
}
.phone-facebook {
    background-color: #0054d1;
}
.phone-facebook h1 {
    color: white !important;
}